body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-box{
  display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    text-align: center;
    border: 3px solid #3d2d7d;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #00000075;
    margin: 10px;
}

.pagination-btn{
  width: 50%;
  margin-left: 25%;
  padding: 5px;
  background-color: #3d2d7d;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

a{
  color: purple;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .5px;
}


.login-form{
  padding: 40px 0;
  width: 300px;
  height: auto;
  position: absolute;
  background-color: #bbb2e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.loginInput{
  width: 90%;
    margin-left: 3%;
    padding: 3px;
}

.loginInput-field{
  width: 100%;
  margin-top: 5px;

}

.singleContainer{
  text-align: center;
}

.images-container{
  display: inline-flex;
width: 100%;
overflow-y: scroll;
}
